:root {
  --timing-out:1.33s;
  --timing-in:.77s;
}

// ANIMATIONS
.toResetLeft {
  animation: resetLeft var(--timing-out) ease both;
}

.toLeft {
  animation: moveLeft var(--timing-in) ease both;
}

.toResetRight {
  animation: resetRight var(--timing-out) ease both;
}

.toRight {
  animation: moveRight var(--timing-in) ease both;
}


@keyframes moveRight {
	0% { left:-100%; width:0%; }
	100% { left:0%; width:100%;}
}

@keyframes moveLeft {
	0% { left:100%; width:0%; }
	100% { left:0%; width:100%;}
}

@keyframes resetRight {
	0% { left:0; opacity:1;}
  99% { left: 25%; width:100%; }
	100% { left:25%; width:0%; opacity:0}
}

@keyframes resetLeft {
	0% { left:0; opacity:1;}
  99% { left: -25%; width:100%;}
	100% { left:-25%; width:0%; opacity:0;}
}