:root {
  --timing-out-left:1.66s;
  --timing-in-left:1.33s;
  --timing-out-right:1.66s;
  --timing-in-right:1.33s;
  --timing-delay: .2s;
}


// ANIMATIONS
// FORWARD
.toResetLeft {
  animation: resetToLeft var(--timing-out-left) ease both;
  animation-delay: var(--timing-delay);

  .content {
    animation: moveOutToRight var(--timing-out-left) ease both;
  }
}

.toLeft {
  animation: revealFromRight var(--timing-in-left) ease both;

  .content {
    animation: moveInFromLeft var(--timing-in-left) ease both;
  }
}

@keyframes resetToLeft {
	0% { clip-path: inset(0 0% 0 0); }
  100% { clip-path: inset(0 100% 0 0); }
}

@keyframes moveOutToRight {
	0% { left:0%; }
	100% { left:25%; }
}

@keyframes revealFromRight {
  0% { clip-path: inset(0 0 0 100%); }
  100% { clip-path: inset(0 0 0 0); }
}

@keyframes moveInFromLeft {
	0% { left:-25%; }
	100% { left:0%; }
}

// BACKWARD
.toResetRight {
  animation: resetToRight var(--timing-out-left) ease both;
  

  .content {
    animation: moveOutToLeft var(--timing-out-left) ease both;
    animation-delay: var(--timing-delay);
  }
}

.toRight {
  animation: revealFromLeft var(--timing-in-left) ease both;
  
  .content {
    animation: moveInFromRight var(--timing-in-left) ease both;
  }
}

@keyframes resetToRight {
	0% { clip-path: inset(0 0 0 0%); }
  100% { clip-path: inset(0 100% 0 0%); }
}

@keyframes moveOutToLeft {
	0% { left:0%; }
	100% { left:-25%; }
}

@keyframes revealFromLeft {
  0% { clip-path: inset(0 0 0 100%); }
  100% { clip-path: inset(0 0 0 0); }
}

@keyframes moveInFromRight {
	0% { left:25%; }
	100% { left:0%; }
}