:root {
  --timing-out-left:1s;
  --timing-in-left:.88s;
  --timing-out-right:1s;
  --timing-in-right:.88s;
  --timing-delay: .2s;
  --bezier: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@mixin animation-vars($name, $duration){
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: var(--bezier);
  animation-fill-mode: both;
}

// FORWARD
.toResetLeft {
  @include animation-vars(resetToLeft, var(--timing-out-left));
  animation-delay: var(--timing-delay);


  .content {
    @include animation-vars(moveOutToRight, var(--timing-out-left));
  }

  .image {
    @include animation-vars(moveImageOutToLeft, var(--timing-out-left));
  }
}

.toLeft {
  @include animation-vars(revealFromRight, var(--timing-in-left));

  .content {
    @include animation-vars(moveInFromLeft, var(--timing-in-left));
  }

  .image {
    @include animation-vars(moveImageInFromLeft, var(--timing-out-left));
  }
}

@keyframes resetToLeft {
	0% { clip-path: inset(0 0% 0 0); }
  100% { clip-path: inset(0 100% 0 0); }
}

@keyframes moveOutToRight {
	0% { left:0%; }
	100% { left:25%; }
}

@keyframes moveImageOutToLeft {
	0% { left:50%; }
	100% { left:25%; }
}

@keyframes revealFromRight {
  0% { clip-path: inset(0 0 0 100%); }
  100% { clip-path: inset(0 0 0 0); }
}

@keyframes moveInFromLeft {
	0% { left:-25%; }
	100% { left:0%; }
}
@keyframes moveImageInFromLeft {
	0% { left:75%; }
	100% { left:50%; }
}

// BACKWARD
.toResetRight {
  @include animation-vars(resetToRight, var(--timing-out-left));
  animation-delay: var(--timing-delay);
  
  .content {
    @include animation-vars(moveOutToLeft, var(--timing-out-left));
  }

  .image {
    @include animation-vars(moveImageOutToRight, var(--timing-out-left));
  }
}

.toRight {
  @include animation-vars(revealFromLeft, var(--timing-in-left));
  
  .content {
    animation: moveInFromRight var(--timing-in-left) ease both;
    @include animation-vars(moveInFromRight, var(--timing-in-left));
  }

  .image {
    animation: moveImageInFromRight var(--timing-out-left) ease both;
    @include animation-vars(moveImageInFromRight, var(--timing-out-left));
  }
}

@keyframes resetToRight {
	from { clip-path: inset(0 0 0 0%); }
  to { clip-path: inset(0 0 0 100%); }
}

@keyframes moveOutToLeft {
	0% { left:0%; }
	100% { left:-25%; }
}
@keyframes moveImageOutToRight {
	0% { left:50%; }
	100% { left:75%; }
}

@keyframes revealFromLeft {
  0% { clip-path: inset(0 100% 0 0); }
  100% { clip-path: inset(0 0% 0 0); }
}

@keyframes moveInFromRight {
	0% { left:25%; }
	100% { left:0%; }
}
@keyframes moveImageInFromRight {
	0% { left:25%; }
	100% { left:50%; }
}