:root {
  --timing-out:1s;
  --timing-in:.77s;
}

#sections {
  position: fixed;
  top:0; left:0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index:10;

  display: flex;
  flex-direction: row;
  overflow:hidden;
  
  transition:background 1s ease-in-out;

  .section {
    box-sizing: border-box;
    margin:0; padding:0;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
        
    .content {
      position:  relative;
      width:100%;
      height: 100%;
      overflow: hidden;
      z-index:10;
      
      display:flex;
      align-items:center;
      justify-content:center;

      h1 {
        font-size:500px;
      }
      
    }
  }
}


// ANIMATIONS
#sections {

  .section {
    left:100%;
    width:100%;
  }

  .active{
    z-index:200;
    left:0;
    width:100%;
  }
  
  .toResetLeft{
    z-index:10;
    -webkit-animation: moveToResetLeft var(--timing-out) ease both;
    animation: moveToResetLeft var(--timing-out) ease both;
  }
  
  .toResetRight{
    z-index:10;
    -webkit-animation: moveToResetRight var(--timing-out) ease both;
    animation: moveToResetRight var(--timing-out) ease both;
  }
  
  .toLeft {
    z-index:200;
    -webkit-animation: moveToLeft var(--timing-out) ease both;
    animation: moveToLeft var(--timing-in) ease both;
  }
  
  .toRight {
    z-index:200;
    -webkit-animation: moveToRight var(--timing-out) ease both;
    animation: moveToRight var(--timing-in) ease both;
  }
 
}

@keyframes moveToLeft {
	0% {
    left:100%; 
  }
	100% { 
    left:0; 
  }
}

@keyframes moveToRight {
	0% {
    left:-100%; 
  }
	100% { 
    left:0; 
  }
}

@keyframes moveToResetLeft {
	0%{
    left:0%;
  }
  100% {
    left:-100%;
  }
}

@keyframes moveToResetRight{
	0%{
    left:0%;
  }
  100% {
    left:100%;
  }
}